/*stylesheet*/
:root {
    --mainColor: #f9ce21;
}
html {
    font-family: "Montserrat", sans-serif;
    scroll-behavior: smooth !important;
}
body {
    font-family: "Montserrat", sans-serif;
    letter-spacing: 0.15px;
    background-position: center;
}
.logo {
    padding: 3rem;
    font-weight: 700;
    font-family: "Merriweather", serif;
    font-size: 4em;
    text-align: center;
}

.logo_pos {
    background-image: linear-gradient(#f9ce21, #f9ce21);
    background-size: 10px 70%;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 5;
}

.h2 {
    margin-top: 20%;
    font-weight: 800;
    text-align: left;
    margin-left: 10%;
    letter-spacing: -3px;
    font-size: 7em;
    font-family: "Sen", sans-serif;
}

.h2_2 {
    font-weight: 600;
    font-size: 43vh;
    font-family: "Abril Fatface", cursive;
    color: white;
    margin-bottom: 3%;
}
.h2_3 {
    font-weight: 700;
    text-align: left;
    margin-left: 20%;
    margin-top: 5%;
    font-size: 3em;
    font-family: "Sen", sans-serif;
}
.h2_4 {
    font-weight: 800;
    text-align: left;
    border-width: 1.5vh;
    /* margin-left: 10%; */
    font-size: 7em;
    font-family: "Sen", sans-serif;
}

h3 {
    font-weight: 900;
    font-size: 3.2em;
    margin-top: 1em;
    text-align: center;
    font-family: "Abril Fatface", cursive;
    font-style: black;
    letter-spacing: 0px;
}
.about {
    font-size: 1.2em;
    background-position: center;
    margin: 0 10%;
    line-height: 2.5rem;
    padding: 2em;
    text-align: left;
    /* border-right: solid;
    border-left: solid;
    border-bottom: solid;
    border-color: black;
    border-radius: 35px; */
}
.about_1 {
    font-size: 1.4em;
    text-align: left;
    margin: 0 10%;
    background-position: center;
    line-height: 2.3em;
    padding: 2em;
    /* border-right: solid;
    border-left: solid;
    border-bottom: solid;
    border-color: black;
    background-color: white; */
}
.about_2 {
    margin-top: 4%;
    font-size: 1.4rem;
    text-align: left;
    padding-right: 8%;
    padding-left: 8%;
    line-height: 2.3em;
    /* border-bottom: solid;
    border-top: solid;
    border-color: #ff9800;*/
}

.link_style {
    color: black;
    text-decoration: none;
    list-style-type: none;
    font-family: "Sen", sans-serif;
    font-size: 3em;
    letter-spacing: -5px;
    background: linear-gradient(
        to right,
        var(--mainColor) 0%,
        var(--mainColor) 5px,
        transparent 5px
    );
    background-repeat: repeat-x;
    background-size: 100%;
    color: #000;
    padding-left: 10px;
}

.link_style:hover {
    background: linear-gradient(
        to right,
        var(--mainColor) 0%,
        var(--mainColor) 5px,
        transparent
    );
    color: black;
}

.active_link {
    background-color: aqua;
}

.front_pic {
    height: 70vh;
    margin-top: 10%;
    filter: grayscale(1);
}
.nav_control {
    margin-top: 7rem;
    text-align: start;
    font-size: 1.8rem;
    right: 0;
}

.about_pic1 {
    margin-top: 15rem;
    height: 30vh;
    border-color: black;
    border: solid;
    border-radius: 50%;
}
.circle_text {
    text-align: left;
    padding: 1em;
    font-size: 1.4em;
    margin-top: 10%;
    border-top: solid;
    border-left: solid;
    border-color: #f9ce21;
    line-height: 2.3rem;
}
.circle_headline_dot {
    color: #f9ce21;
    font-family: Anton;
}

.footer_pos {
    margin-right: 5em;
    margin-top: 4em;
    color: black;
}

.no_style {
    text-decoration: none;
    list-style-type: none;
    color: black;
}
.no_style:hover {
    text-decoration: none;
    list-style-type: none;
    color: #f9ce21;
}

.hideme {
    opacity: 0;
}

/*ISOTOPE*/
html,
body {
    margin: 0;
    padding: 0;
}
.item {
    padding: 0;
}
ul.filters {
    display: block;
    width: 100%;
    margin: 0;
    padding: 30px 0;
}

ul.filters > li {
    list-style: none;
    display: inline-block;
}

ul.filters > li > a {
    display: block;
    color: #434e5e;
    text-decoration: none;
    padding: 5px 20px;
}

ul.filters > li > a:hover {
    background-color: rgba(255, 152, 0, 0.3);
}

ul.filters > li.active > a {
    color: #fff;
    background-color: rgba(255, 152, 0, 1);
}

.card {
    position: relative;
    /* margin-bottom: 50px; */
    color: #000;
    border-radius: 0;
    border: 1px solid #eee;
    background-color: #fff;
    box-shadow: 1px 1px 1.5px rgba(0, 0, 0, 0.075);
}

.card-head {
    position: relative;
    overflow: hidden;
}

.card-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
    background-color: rgba(255, 152, 0, 0.2);
    color: #fff;
    font-size: 5px !important;
    font-family: "Merriweather", serif !important;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-transition: ease-in-out 0.2s;
    -moz-transition: ease-in-out 0.2s;
    -ms-transition: ease-in-out 0.2s;
    transition: ease-in-out 0.2s;
}

.card-overlay h2 {
    font-size: 3em !important;
    text-align: center;
    font-family: "Sen", sans-serif;
}

.card-hover {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    flex-direction: column;
    box-sizing: border-box;
    padding: 30px;
    -webkit-transition: ease-in-out 0.2s;
    -moz-transition: ease-in-out 0.2s;
    -ms-transition: ease-in-out 0.2s;
    transition: ease-in-out 0.2s;
}

.card-body {
    padding-top: 10px;
    padding-bottom: 10px;
}
.font_light {
    font-weight: 300;
}
/* MOMO Page*/
.momo {
    font-family: "Liu Jian Mao Cao", cursive !important;
}
.h1_momo {
    font-weight: bold;
    font-family: "Liu Jian Mao Cao", cursive !important;
    font-size: 8rem;
    font-weight: 700;
    margin: 0.5em;
}

.sign_pic {
    height: 70vh;
    margin-top: 15%;
    filter: blur(10px);
}
.sign_lang {
    margin-top: 10%;
}
.hide_div {
    display: none;
}
.hide_div2 {
    display: none;
}
.hide_div3 {
    display: none;
}
.hide_div4 {
    display: none;
}

.bg_image {
    background-image: url("/assets/fabs3_blur.jpg");
    background-position: center center;
    /*PARALAX BEGIN*/
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    /*PARALAX END */
    color: black;
    height: 70vh;
    display: flex;

    justify-content: center;
    align-items: center;
}
.monster {
    padding: 3rem;
}

.magic_hover {
    background-size: 100% 200%;
    text-decoration: none;
    list-style-type: none;
    background-image: linear-gradient(to bottom, #fff 50%, #f9ce21 50%);
    transition: background-position 0.5s ease-in-out, color 0.5s ease-in-out;
    color: black;
    border-bottom: solid;
    border-color: #f9ce21;
}
.magic_hover:hover,
.magic_hover:focus {
    background-position: 0 100%;
    color: black;
    text-decoration: none;
    list-style-type: none;
}

/* KONTAKT */
.contact {
    text-align: left;
    padding: 5% 10% 10% 10%;
}

.contact_list {
    text-decoration: none;
    list-style-type: none;
    font-size: 2.5rem;
    margin-top: 2%;
}

.contact_list li {
    margin-top: 2%;
}

.fa {
    font-size: 4.5rem !important;
}
.fb_insta {
    text-decoration: none;
    list-style-type: none;
    margin-top: 5%;
    margin-left: 16%;
    color: black;
}

.fa-instagram:hover {
    color: pink;
}

.fa-facebook:hover {
    color: #3b5998;
}
#mainNav {
    text-decoration: none;
    list-style-type: none;
}
@media only screen and (max-width: 1100px) {
    .fixed-top {
        position: static;
        overflow: hidden;
    }
    .monster {
        margin: 0 !important;
        overflow: hidden; /*ULTRA-WICHTIG */
    }
}

/* TABLET */
@media only screen and (max-width: 768px) {
    #start {
        margin-top: 2rem;
    }
    .fixed-top {
        position: static;
    }
    .monster {
        margin: 0 !important;
        overflow: hidden;
    }

    .h2 {
        font-size: 4.5rem;
    }
    .about_1 {
        font-size: 1.1rem;
        margin: 0 3%;
    }
    .about_pic1 {
        margin-top: 3rem;
    }
    .h2_2 {
        font-size: 21vh;
    }
    .about_2 {
        font-size: 1.1rem;
        margin: 5% 0 3%;
    }
    .about {
        font-size: 1rem;
        text-align: justify;
        text-justify: distribute;
    }
    .h2_3 {
        margin: 10% 0 0;
    }
    .logo_pos {
        background-position: 0;
    }
    .nav_control {
        margin-top: 1rem;
        text-align: start;
        font-size: 0.8rem;
        right: 0;
    }
}

/* Iphone6/7 (5) */
@media only screen and (max-width: 375px) {
    #start {
        margin-top: 1rem;
    }
    .fixed-top {
        position: static;
    }
    .monster {
        margin: 0 !important;
        padding: 1em;
    }
    .h2 {
        font-size: 4.5rem;
    }
    .front_pic {
        height: 50vh;
    }
    .about_1 {
        font-size: 0.8rem;
        margin: 0 3%;
    }
    .about_pic1 {
        margin-top: 3rem;
    }
    h3 {
        font-size: 1.8rem;
    }
    .circle_text {
        font-size: 1rem;
    }
    .h2_2 {
        font-size: 17vh;
    }
    .about_2 {
        font-size: 0.8rem;
        margin: 5% 0 3%;
    }
    .about {
        font-size: 0.75rem;
        text-align: justify;
        line-height: 1.25rem;
        text-justify: auto;
        text-align: left;
    }
    .h2_3 {
        font-size: 1.8rem;
        margin: 10% 0 0;
    }
    .h2_4 {
        font-size: 4rem;
        margin: 10% 0 0;
        font-weight: 800;
        border-bottom: solid;
    }
    .logo_pos {
        background-position: 0;
    }
    .contact_list {
        font-size: 1.3rem;
    }
    .fa {
        font-size: 2.5rem !important;
    }

    .footer_pos {
        margin: 0 1%;
        color: black;
        font-size: 0.8rem;
    }
    .nav_control {
        margin-top: 1rem;
        text-align: start;
        font-size: 0.8rem;
        right: 0;
    }
}
